# Generic
# --------------------------
Thumbs.db
Desktop.ini
Icon?
.directory
*.cache
*.old
*.log
*.zip
._
*~

# IDE Project Configurations
# --------------------------
nbproject
.idea
.settings
.vscode
.project
*.sublime-*

# WordPress
# --------------------------
public/wp
public/.htaccess

# Development
# --------------------------
/vendor
/sources/**.css
.vagrant
.php-version
node_modules
Vagrantfile
homestead.yml
wp-cli.local.yml
.env.*
.env

# But Keep these
# --------------------------
!/.env.example
!.gitkeep
