* text=auto

*.css   linguist-vendored
*.scss  linguist-vendored
*.less  linguist-vendored
*.js    linguist-vendored

.github          export-ignore
bin              export-ignore
source/docs      export-ignore
CONTRIBUTING.md  export-ignore
CHANGELOG.md     export-ignore
buildpack.toml   export-ignore

# app.json         export-ignore
# composer.lock    export-ignore
# Procfile         export-ignore
