/**
 * Import Bulma Layouts.
 */
@import 'bulma/sass/layout/hero.sass';

/**
 * Import Contents
 */
@import './contents/accessibilities';
@import './contents/entries';
@import './contents/comments';
@import './contents/media';
@import './contents/widgets';

.section {
  padding: 3rem 0;
}

/* Do not show the outline on the skip link target. */
.site-content {
  &[tabindex='-1']:focus {
    outline: 0;
  }
}

.site-footer {
  background-color: $white-bis;
  padding: 2rem 1rem 4rem;
}
