.wp-block-file {
  margin-bottom: 1.5em;

  &__button {
    background: #32373c;
    border-radius: 2em;
    color: #fff;
    font-size: 13px;
    padding: 0.5em 1em;

    * + & {
      margin-left: 0.75em;
    }

    &:active,
    &:focus,
    &:hover,
    &:visited {
      box-shadow: none;
      color: #fff;
      opacity: 0.85;
      text-decoration: none;
    }
  }
}
