.wp-block-table {
  width: 100%;
  min-width: 240px;
  border-collapse: collapse;

  td,
  th {
    padding: 0.5em;
    border: 1px solid currentColor;
    word-break: break-all;
  }

  &.has-fixed-layout {
    table-layout: fixed;
    width: 100%;
  }

  &.aligncenter,
  &.alignleft,
  &.alignright {
    display: table;
    width: auto;
  }

  &.has-subtle-light-gray-background-color {
    background-color: #f3f4f5;
  }

  &.has-subtle-pale-green-background-color {
    background-color: #e9fbe5;
  }

  &.has-subtle-pale-blue-background-color {
    background-color: #e7f5fe;
  }

  &.has-subtle-pale-pink-background-color {
    background-color: #fcf0ef;
  }

  &.is-style-stripes {
    border-spacing: 0;
    border-collapse: inherit;
    background-color: transparent;
    border-bottom: 1px solid #f3f4f5;

    tr:nth-child(odd),
    &.has-subtle-light-gray-background-color tr:nth-child(odd) {
      background-color: #f3f4f5;
    }

    &.has-subtle-pale-green-background-color tr:nth-child(odd) {
      background-color: #e9fbe5;
    }

    &.has-subtle-pale-blue-background-color tr:nth-child(odd) {
      background-color: #e7f5fe;
    }

    &.has-subtle-pale-pink-background-color tr:nth-child(odd) {
      background-color: #fcf0ef;
    }

    td {
      border-color: transparent;
    }
  }
}
