/* --------------------------------------------------------------
 * Posts and pages
 * -------------------------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.content ul.wp-block-gallery {
  list-style-type: none;
  margin: 0;
}

/* --------------------------------------------------------------
 * Alignments
 * -------------------------------------------------------------- */
.alignleft {
  @extend .is-pulled-left;

  margin-right: 1rem;
}

.alignright {
  @extend .is-pulled-right;

  margin-left: 1rem;
}

/* --------------------------------------------------------------
 * Navigations
 * -------------------------------------------------------------- */
.posts-navigation,
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

/* --------------------------------------------------------------
 * Infinite scroll
 * -------------------------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}
