/* --------------------------------------------------------------
 * Galleries
 * -------------------------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;

  &-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }

  &-columns-2 &-item {
    max-width: 50%;
  }

  &-columns-3 &-item {
    max-width: 33.33%;
  }

  &-columns-4 &-item {
    max-width: 25%;
  }

  &-columns-5 &-item {
    max-width: 20%;
  }

  &-columns-6 &-item {
    max-width: 16.66%;
  }

  &-columns-7 &-item {
    max-width: 14.28%;
  }

  &-columns-8 &-item {
    max-width: 12.5%;
  }

  &-columns-9 &-item {
    max-width: 11.11%;
  }

  &-caption {
    display: block;
  }
}
