/* --------------------------------------------------------------
 * Menus
 * -------------------------------------------------------------- */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
