.site-main {
  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;

    .nav-previous {
      float: left;
      width: 50%;
    }

    .nav-next {
      float: right;
      text-align: right;
      width: 50%;
    }
  }
}
