$widget-title-size: $size-4;

/* ------------------------------------------------------------
 * Widgets
 * ------------------------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
  line-height: 1.8em;

  &-title {
    font-size: $widget-title-size;
    line-height: 1.2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $hr-background-color;
    margin-bottom: 0.5em;
  }

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }

  &_calendar {
    table {
      width: 100%;

      th,
      td {
        padding: 0 1em;
        text-align: right;
      }

      th {
        background-color: $white-bis;
      }

      tfoot td {
        text-align: center;
      }
    }
  }
}
