/**
 * Import Bulma Form.
 */
@import 'bulma/sass/form/shared.sass';
@import 'bulma/sass/form/input-textarea.sass';
@import 'bulma/sass/form/checkbox-radio.sass';
@import 'bulma/sass/form/select.sass';
@import 'bulma/sass/form/file.sass';
@import 'bulma/sass/form/tools.sass';
