.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  .blocks-gallery-image,
  .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: calc((100% - 16px) / 2);

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    figure {
      margin: 0;
      height: 100%;
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      width: 100%;

      @supports ((position: -webkit-sticky) or (position: sticky)) {
        width: auto;
      }
    }

    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-height: 100%;
      overflow: auto;
      padding: 40px 10px 9px;
      color: #fff;
      text-align: center;
      font-size: 13px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 70%, transparent);

      img {
        display: inline;
      }
    }
  }

  &.is-cropped {
    .blocks-gallery-image,
    .blocks-gallery-item {
      a,
      img {
        width: 100%;

        @supports ((position: -webkit-sticky) or (position:sticky)) {
          height: 100%;
          flex: 1;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
  }

  &.columns-1 .blocks-gallery-image,
  &.columns-1 .blocks-gallery-item {
    width: 100%;
    margin-right: 0;
  }

  @media (min-width: 600px) {
    &.columns-3 .blocks-gallery-image,
    &.columns-3 .blocks-gallery-item {
      width: calc((100% - 32px) / 3);
      margin-right: 16px;

      @supports (-ms-ime-align:auto) {
        width: calc((100% - 32px) / 3 - 1px);
      }
    }

    &.columns-4 .blocks-gallery-image,
    &.columns-4 .blocks-gallery-item {
      width: calc((100% - 48px) / 4);
      margin-right: 16px;

      @supports (-ms-ime-align:auto) {
        width: calc((100% - 48px) / 4 - 1px);
      }
    }

    &.columns-5 .blocks-gallery-image,
    &.columns-5 .blocks-gallery-item {
      width: calc((100% - 64px) / 5);
      margin-right: 16px;

      @supports (-ms-ime-align:auto) {
        width: calc((100% - 64px) / 5 - 1px);
      }
    }

    &.columns-6 .blocks-gallery-image,
    &.columns-6 .blocks-gallery-item {
      width: calc((100% - 80px) / 6);
      margin-right: 16px;

      @supports (-ms-ime-align:auto) {
        width: calc((100% - 80px) / 6 - 1px);
      }
    }

    &.columns-7 .blocks-gallery-image,
    &.columns-7 .blocks-gallery-item {
      width: calc((100% - 96px) / 7);
      margin-right: 16px;

      @supports (-ms-ime-align:auto) {
        width: calc((100% - 96px) / 7 - 1px);
      }
    }

    &.columns-8 .blocks-gallery-image,
    &.columns-8 .blocks-gallery-item {
      width: calc((100% - 112px) / 8);
      margin-right: 16px;

      @supports (-ms-ime-align:auto) {
        width: calc((100% - 112px) / 8 - 1px);
      }
    }

    &.columns-1 .blocks-gallery-image:nth-of-type(1n),
    &.columns-1 .blocks-gallery-item:nth-of-type(1n),
    &.columns-2 .blocks-gallery-image:nth-of-type(2n),
    &.columns-2 .blocks-gallery-item:nth-of-type(2n),
    &.columns-3 .blocks-gallery-image:nth-of-type(3n),
    &.columns-3 .blocks-gallery-item:nth-of-type(3n),
    &.columns-4 .blocks-gallery-image:nth-of-type(4n),
    &.columns-4 .blocks-gallery-item:nth-of-type(4n),
    &.columns-5 .blocks-gallery-image:nth-of-type(5n),
    &.columns-5 .blocks-gallery-item:nth-of-type(5n),
    &.columns-6 .blocks-gallery-image:nth-of-type(6n),
    &.columns-6 .blocks-gallery-item:nth-of-type(6n),
    &.columns-7 .blocks-gallery-image:nth-of-type(7n),
    &.columns-7 .blocks-gallery-item:nth-of-type(7n),
    &.columns-8 .blocks-gallery-image:nth-of-type(8n),
    &.columns-8 .blocks-gallery-item:nth-of-type(8n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .blocks-gallery-item.has-add-item-button {
    width: 100%;
  }

  &.alignleft,
  &.alignright {
    max-width: 305px;
    width: 100%;
  }

  &.aligncenter,
  &.alignleft,
  &.alignright {
    display: flex;
  }

  &.aligncenter .blocks-gallery-item figure {
    justify-content: center;
  }
}
